@charset "UTF-8";



@import 'mixins';



/****************************
  base
*****************************/

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: $white;
	font-family: Helvetica Neue, Helvetica, Arial, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	line-height: 100%;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	color: $white;
	background: $black;
	text-shadow: none;
}

::selection {
	color: $white;
	background: $black;
	text-shadow: none;
}

a {
	-webkit-tap-highlight-color: rgba(255,255,255,0.5);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	border: none;
	vertical-align: text-bottom;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

figure {
	font-size: 0;
	line-height: 0;
}

input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
textarea {
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}



/****************************
	FONTS
*****************************/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');


/****************************
	responsive
*****************************/

@media screen and (min-width: 769px) {
} /* 769px - */

@media screen and (max-width: 768px) {
} /* - 768px */

@media screen and (min-width: 769px) and (max-width: 1028px) {
} /* 769px - 1028px */