@charset "UTF-8";



@import 'mixins';



/****************************
  sp
*****************************/
.sp {
  display: none !important;
}

body {
  /* min-width: 1000px; */
}



/****************************
  HEADER
*****************************/

.header {
	width: 100%;
}

.navigation {
	width: 100%;
	padding: 0 3%;
	box-sizing: border-box;
	display: table;
	height: 80px;
	border-bottom: 1px solid $lightgray;
}

.logo {
	@include tablemid;
	width: 15%;

	a {
		display: block;

		img {
			width: 100%;
			max-width: 150px;
			height: auto;
		}
	}
}

.navigation__menu {
	@include tablemid;
	width: 55%;

	ul {
		margin: 0 auto;
		list-style: none;
	}

	li {
		float: left;
		width: 25%; /* fallback for non-calc() browsers */
		width: calc(100% / 4);

		a {
			display: block;
			color: $black;
			text-decoration: none;
			font-size: 15px;
			line-height: 1;
			@include ls;
		}
	}

	li:last-child {
		margin-right: 0;
	}
}

.navigation_features {
	@include tablemid;
	width: 30%;
	margin: 22px 0;

	.search_box {
		float: left;
		@include bg_icons('../images/button_search.svg');
		width: 50%;
		margin: 0 5%;
		max-width: 200px;
		height: 35px;
		border: none;
		padding: 0 5px 0 35px;
	}

	.search_box:focus {
		outline: none;
	}

	.navigation__icons {
		float: right;
		width: 40%;
		list-style: none;

		li {
			width: 32%;
			width: calc(100% / 3);
			max-width: 55px;
			float: left;
			position: relative;

			.notif_off {
				display: none;
			}

			.notif_on {
				display: block;
			}

			.nav_notifications {
				display: none;
				list-style: none;
				position: absolute;
				right: 0;
				top: 50px;
				width: 300px;
				z-index: 1;
				background: $white;
				border-bottom: 0;
				-webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
				-moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
				box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);

				&::before {
					content: "";
					border: 10px solid transparent;
					border-bottom: 10px solid #fff;
					position: absolute;
					right: 5.5%;
					top: -19px;
					z-index: 2;
				}

				&::after {
					content: "";
					border: 10px solid transparent;
					border-bottom: 10px solid #e5e5e5;
					position: absolute;
					right: 5.5%;
					top: -20px;
				}

				li {
					display: block;
					width: 100%;
					max-width: unset;
					margin-right: 0;
					box-sizing: border-box;
					border: 1px solid $lightgray;
					border-top: 0;

					a {
						width: 100%;
						 max-width: unset;
						padding: 15px 10px;
						font-size: 12px;
						color: #858585;
						text-align: left;
						text-decoration: none;
						box-sizing: border-box;
					}
				}

				li:last-child {
					border-bottom: 0;
					border-left: 0;
					border-right: 0;
				}

				li:first-child {
					border-top: 1px solid $lightgray;
				}

				.notifications__button {
					background: $blue;
					color: $white;
					display: block;
					padding: 15px 10px;
					text-align: center;
				}
			}
		}

		a {
			display: block;
			max-width: 55px;

			img {
				width: auto;
				height: auto;
				max-height: 40px;
			}
		}

		li:last-child {
			margin-right: 0;
		}
	}

}

.header_kv {
	width: 100%;

	img {
		@include w_100;
	}
}



/****************************
  TOP CONTENT
*****************************/

.top {
	width: 100%;

	.job_pagination {
		width: 100%;
		margin: 75px 0 50px;

		ul {
			width: 250px;
			margin: 0 auto;
			list-style: none;

			li {
				float: left;
				margin-right: 20px;

				a {
					display: block;
					padding: 14px 18px;
					color: #858585;
					font-family: $fontOswald;
					font-size: 18px;
					font-weight: bold;
					text-decoration: none;
					line-height: 1;
					border: 1px solid #858585;
					border-radius: 50px;
					transition: all .2s linear;
					box-sizing: border-box;
					position: relative;

					&:hover, &.active {
						color: $white;
						border: 1px solid transparent;
					}

					&:hover::before, &.active::before {
						@include universalbuttonhover;
						border-radius: 50%;
					}
				}

				
			}

			li:last-child {
				margin-right: 0;
			}
		}
	}
}

.top_jobs {
	width: 100%;
	max-width: 1100px;
	margin-top: 50px;
	@include image_center;

	h2 {
		font-size: 27px;
		line-height: 1;
		text-align: center;
	}

	.top_featurejobs_item {
		@include w100_mt40;

		* {
			display: inline-block;
		}

		.top_featurejobs_item_sub01 {
			width: 38%;
			height: auto;
			box-sizing: border-box;
			padding-right: 4px;
			position: relative;
			float: left;

			img {
				width: 100%;
				height: auto;
			}
		}

		.top_featurejobs_item_sub02 {
			width: 62%;

			a {
				position: relative;
				width: 50%;
				height: auto;
				padding-right: 4px;
				margin-bottom: 4px;
				float: left;
				box-sizing: border-box;

				img {
					@include w_100;
				}
			}

			a:nth-child(even) {
				margin-right: 0;
			}
		}

		a {
			display: block;
			color: $white;
		}

		.top_featurejobs_item_sub_p {
			position: absolute;
			left: 10px;
			bottom: 10px;
			padding: 5px 10px 7px;
			background: rgba(0, 0, 0, 0.5);
			font-size: 18px;
			line-height: 1;
		}
	}
}

.top_latestjobs_item:nth-of-type(n+2) {
	margin: 75px auto 0;
}

.top_latestjobs_item {
	width: 100%;
	text-align: center;
	position: relative;
	@include w100_mt40;

	img {
		@include w_100;
	}

	.top_latestjobs_item_details {
		width: calc(100% - 40px);
		margin-top: 35px;
		margin-left: 40px;
		text-align: left;

		.top_latestjobs_item_pos {
			width: 100%;

			* {
				display: inline-block;
			}

			.job_position {
				p {
					color: $blue;
					font-size: 18px;
					line-height: 1;
				}

				.category_new {
					@include job_category($pink);
				}

			}

			.date_posted {
				float: right;
				color: $gray;
				font-size: 15px;
				line-height: 1;
			}
		}

		h3 {
			margin-top: 15px;
			font-size: 23px;
			line-height: 1.7;
			font-weight: bold;
		}

		.top_latestjobs_item_description {
			margin-top: 15px;
			color: $gray_20;
			font-size: 19px;
			line-height: 1.6;
		}

		.top_latestjobs_item_sub {
			margin-top: 25px;
			width: 100%;

			* {
				display: inline-block;
			}

			.salary_range {
				color: $blue;
				font-family: $fontOswald;
				font-size: 35px;
				font-weight: 300;
				line-height: 1;

				span {
					font-size: 15px;
					margin-left: 10px;
				}
			}

			.skills_prefecture {
				float: right;
				margin-top: 10px;

				* {
					text-decoration: none;
					color: $gray_20;
				}

				.skills {
					font-size: 19px;
					line-height: 1;
					margin-right: 45px;
				}

				.skills::before {
					content: '';
					background: url('../images/icon_code.svg');
					background-size: 100% auto;
					width: 21px;
					height: 15px;
					display: inline-block;
					margin-right: 20px;
				}

				.prefecture {
					font-size: 19px;
					line-height: 1;
				}

				.prefecture::before {
					content: '';
					background: url('../images/icon_location.svg');
					background-size: 100% auto;
					width: 15px;
					height: 21px;
					display: inline-block;
					margin-right: 11px;
				}
			}
		}
	}

	.job_interested {
		display: inline-block;
		margin-top: 34px;
		@include universalbutton;

		&:hover {
			color: $white;
			border: 1px solid transparent;
		}

		&:hover::before {
			@include universalbuttonhover;
		}
	}

	.top_latestjobs_item_remove {
		@include removeButton;
	}
}

.top_latestjobs_item:hover .top_latestjobs_item_remove {
	display: block;
}


/****************************
	LOGIN
*****************************/

.login {
	width: 100%;
	height: 100vh;
	background: url('../images/login_bg.jpg') center center no-repeat;
	background-size: cover;
	position: relative;

	.navigation {
		border-bottom: 0;
	}

	.login_buttons {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 8%;
		text-align: center;

		* {
			width: 330px;
			display: inline-block;
			padding: 22px 0;
			font-size: 18px;
			line-height: 1;
			text-decoration: none;
			transition: all .2s linear;
			border-radius: 30px;
		}

		.button_facebook {
			background: #3b5998;
			margin-right: 30px;
			color: $white;
		}

		.button_facebook:hover {
			@include hover;
		}

		.button_email {
			border: 1px solid $lightPurple;
			color: $black;
		}

		.button_email:hover {
			background: $lightPurple;
			border: 1px solid transparent;
		}
	}
}



/****************************
	BREADCRUMBS PAGETITLE
*****************************/

.breadcrumbs_pagetitle {
	width: 100%;
	padding: 50px 5% 0;
	box-sizing: border-box;

	h1 {
		font-size: 27px;
		line-height: 1;
		color: $blue;
	}
}



/****************************
	SEARCH JOBS
*****************************/

.job_search {
	width: 100%;
	padding: 0 5%;
	box-sizing: border-box;

	.job_search_input {
		width: 100%;
		max-width: 1100px;
		margin: 50px auto;

		.job_search_input_item {
			display: inline-block;
			width: 50%;
			float: left;
			margin-bottom: 25px;

			p {
				font-size: 18px;
				line-height: 1;
				color: $black;
			}

			input[type="text"],
			input[type="number"] {
				width: 80%;
				margin-top: 20px;
				padding: 10px;
				box-sizing: border-box;
				color: $blue;
				border: 1px solid $blue;
				border-radius: 30px;
				outline: none;
			}

			input[type="number"] {
				width: 30%;
			}

			span {
				margin-left: 20px;
				color: $blue;
				font-size: 15px;
				line-height: 1;
			}

			button, select {
				width: 80%;
				margin-top: 20px;
				padding: 10px;
				box-sizing: border-box;
				color: $blue;
				border: 1px solid $blue;
				border-radius: 30px;
				outline: none;
			}
		}
	}

	.job_search_result {
		width: 100%;
		padding: 0 5%;
		box-sizing: border-box;

		h2 {
			font-size: 24px;
			line-height: 1;
			color: $blue;
		}

		.job_search_result_item {
			max-width: 1100px;
			width: 100%;
			margin: 50px auto;

			.job_search_result_numbers, .job_search_result_button {
				width: 50%;
				display: inline-block;
			}

			.job_search_result_numbers {
				float: left;

				p {
					display: inline-block;
					float: left;
					color: #0038a8;
					font-family: "Oswald",sans-serif;
					font-size: 35px;
					font-weight: 300;
					line-height: 1;

					span {
						font-size: 15px;
						margin-left: 10px;
					}
				}

				p:first-child {
					margin-right: 50px;
				}
			}

			.job_search_result_button {
				float: right;
				@include universalbutton;
			}

			.job_search_result_button:hover {
				color: $white;
				border: 1px solid transparent;
			}

			.job_search_result_button:hover::before {
				@include universalbuttonhover;
			}
		
		}
	}
}


/****************************
	LATEST JOB
*****************************/

.latest__job {
	width: 100%;
	max-width: 1100px;
	margin: 50px auto 0;
}


/****************************
	JOB DETAILS
*****************************/

.jobdetails {
	.breadcrumbs_pagetitle {
		h1 {
			text-align: center;
		}
	}
}

.job__details {
		width: 100%;
		max-width: 1100px;
		margin: 50px auto;
		text-align: center;

	h2 {
		font-size: 24px;
		line-height: 1;
		color: $blue;
		text-align: left;
	}

	.jd__buttons {
		padding-top: 50px;
		text-align: center;

		* {
			display: inline-block;
			width: 200px;
			padding: 12px 0;
			font-size: 15px;
		}

		.jd__share, .jd__recommend, .jd__favorites {
			@include universalbutton;
			transition: all .2s linear;
			width: 200px;
			padding: 12px 0;
			font-size: 15px;
			margin-right: 10px;

			&:hover {
				color: $white;
				border: 1px solid transparent;
			}
		}

		.jd__share:hover {
			background: $blue;
		}

		.jd__recommend:hover {
			background: lighten($blue, 10%);
		}

		.jd__favorites:hover {
			background: lighten($blue, 20%);
		}
	}

	img {
		padding-top: 25px;
		width: 75%;
		height: auto;
	}

	.jd__flow__details {
		text-align: left;

		h3 {
			padding-top: 25px;
			font-size: 23px;
			line-height: 1;
			color: $blue;
		}

		p {
			padding-top: 25px;
			font-size: 15px;
			color: $gray_20;
			line-height: 1.6;
		}

		.jd__applybtn {
			display: block;
			margin: 25px auto 0;
			@include universalbutton;

			&:hover::before {
				@include universalbuttonhover;
			}

			&:hover {
				color: $white;
				border: 1px solid transparent;
			}
		}

		.jd__work__desc {
			margin-top: 25px;
			width: 100%;
			border-collapse: collapse;
			border: 1px solid $lightgray;

			tr {
				td {
					padding: 15px 10px;
					border-bottom: 1px solid $lightgray;
					font-size: 15px;

					&:first-child {
						width: 30%;
						font-weight: bold;
						border-right: 1px solid $lightgray;
					}

					&:last-child {
						width: 70%;
					}
				}
			}
		}

		.jd__buttons {
			padding-top: 25px;
		}

		.jd__companyoffer {
			margin-top: 25px;
			border: 1px solid $lightgray;

			tr {
				td {
					padding: 5px;

					table {
						border-collapse: collapse;
						line-height: 1;

						tr {
							td {
								padding: 5px;

								h4 {
									font-size: 18px;
									font-weight: bold;
								}
							}

							&:first-child {
								td:first-child {
									width: 30%;
								}
							}
						}

						a {
							display: block;
							text-decoration: none;
							color: $gray_20;

							&::before {
								margin-bottom: -5px;
							}
						}

						.offer_desc {
							padding: 0;
						}

						.offer_img {
							@include w_100;
							padding: 0;
						}
					}
				}
			}
		}
	}
}


.offer_business {
	font-size: 12px;

	&::before {
		content: '';
		background: url('../images/icon_business.svg') no-repeat;
		background-size: 100% auto;
		width: 21px;
		height: 22px;
		display: inline-block;
		margin-right: 11px;
	}
}

.offer_loc {
	font-size: 12px;
	
	&::before {
		content: '';
		background: url('../images/icon_location.svg') no-repeat;
		background-size: 100% auto;
		width: 15px;
		height: 21px;
		display: inline-block;
		margin-right: 11px;
	}
}

.offer_salary {
	font-size: 12px;
	
	&::before {
		content: '';
		background: url('../images/icon_salary.svg') no-repeat;
		background-size: 100% auto;
		width: 25px;
		height: 21px;
		display: inline-block;
		margin-right: 11px;
	}
}

.offer_cat {
	font-size: 12px;
	
	&::before {
		content: '';
		background: url('../images/icon_category.svg') no-repeat;
		background-size: 100% auto;
		width: 24px;
		height: 22px;
		display: inline-block;
		margin-right: 11px;
	}
}



/****************************
	LAYOUT 2 COLUMN
*****************************/

.cols--2 .breadcrumbs_pagetitle {
	padding: 50px 5%;
}

.div__2column {
	width: 100%;
	border-top: 1px solid $lightgray;

	.div__sidebar {
		width: 20%;
		padding: 50px 2%;
		box-sizing: border-box;
		display: inline-block;
		float: left;

		h3 {
			font-size: 21px;
			line-height: 1;
			color: $blue;
		}

		.list_sidebar {
			list-style: none;
			padding-top: 25px;

			li {
				padding: 10px 0;

				a {
					display: inline-block;
					text-decoration: none;
					color: $black;
					font-size: 15px;
				}

				.list_sidebar_sub {
					list-style: none;
					padding-left: 10px;

					li {
						&::before {
							content: '>';
							font-size: 13px;
							margin-right: 5%;
						}

						a {
							font-size: 13px;
						}

					}
				}
			}
		}
	}

	.div__2column__content {
		width: 80%;
		display: inline-block;
		float: left;
		border-left: 1px solid $lightgray;
		box-sizing: border-box;

		h2 {
			font-size: 24px;
			line-height: 1;
			color: $blue;
			width: 100%;
			padding: 25px;
			border-bottom: 1px solid $lightgray;
			box-sizing: border-box;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		.div__2column__innercontent {
			padding: 50px 5%;
		}
	}
}



/****************************
	NEWS
*****************************/

.table__news {
	width: 100%;
	border-collapse: collapse;

	tr {
		td {
			padding: 15px;
			font-size: 16px;
			line-height: 1.6;
			border-bottom: 1px dashed $lightgray;
			
			&:first-child{
				width: 20%;
				border-right: 1px dashed $lightgray;
				line-height: 1;
			}

			.news__button--admin {
				@include newsButton($btnGreen);
			}

			.news__button--scout {
				@include newsButton($btnLightRed);
			}

			.news__button--comment {
				@include newsButton($btnBlue);
			}

			.innercontent__news--title {
				display: block;
				text-decoration: none;
				color: $black;
			}
		}
	}
}



/****************************
	COMMENT
*****************************/

.comment__items {
	padding: 20px;
	position: relative;
	border-bottom: 1px solid $gray;

	
	p {
		font-size: 16px;
		line-height: 1.6;
	}

	.comment__items__subitems {
		display: inline-block;
		margin-top: 10px;

		p {
			display: inline-block;
			font-size: 12px;
			text-decoration: none;
			color: $gray_20;
			margin-right: 20px;

			&::before {
				vertical-align: middle;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.comment__items__button {
		position: absolute;
		top: 40%;
		right: 20px ;

		.comment__items--button {
			color: $black;
			font-size: 12px;
			line-height: 1;
			text-decoration: none;
			display: table-cell;

			* {
				display: inline-block;
			}

			&::before {
				content: '';
				background: url('../images/icon_comment.png') no-repeat;
				background-size: 100% auto;
				width: 28px;
				height: 28px;
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}

			span {
				vertical-align: middle;
				padding: 5px 10px;
				border: 1px solid $gray;
				border-radius: 5px;
			}
		}
	}
}

.comment .comment__items:hover {
	background: $lightgray;
}

.comment__items__feedback {
	min-height: calc(100vh / 1.5);
	width: 100%;
	padding: 20px;
	position: relative;
	box-sizing: border-box;

	.comment__items__history {
		margin-bottom: 200px;

		.comment__user {
			display: inline-block;
			margin-bottom: 20px;

			* {
				display: inline-block;
				box-sizing: border-box;
				float: left;
			}
		}
	}

	.comment__user__icon {
		width: 10%;
		text-align: center;

		img {
			width: 35px;
			height: 35px;
			border-radius: 50px;
		}
	}

	.comment__user__comment {
		width: 90%;
		font-size: 18px;
		line-height: 1.6;
	}

	.comment__items__reply {
		width: 100%;
		height: 200px;
		position: absolute;
		bottom: 0;
		left: 0;

		& > div {
			display: inline-block;
			float: left;
		}

		.comment__items__inputbox {
			width: 80%;
			height: 100%;
			border-radius: 10px;
			border: 1px solid $lightgray;

			textarea {
				width: 100%;
				height: 85%;
				padding: 5px;
				border: none;
				resize: none;
				font-family: inherit;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom: 1px solid $lightgray;
				box-sizing: border-box;
			}

			.comment__items__reply--sub {
				float: right;
				padding: 1% 20px;
				font-size: 15px;
				line-height: 1;

				* {
					display: inline-block;
				}

				input[type=checkbox] {
					margin-right: 10px;
				}
			}
		}

		.comment__items__userreply {
			width: 19%;
			height: 100%;
			box-sizing: border-box;
			position: relative;

			.comment__items__userreply--inner {
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				position: absolute;
				bottom: 0;

				.comment__sender {
					float: left;
					width: 50%;

					* {
						display: inline-block;
					}

					&:first-child {
						text-align: right;
					}

				}

				input[type=checkbox] {
					margin-left: 5%;
					margin-top: 12px;
				}

				img {
					width: 35px;
					height: 35px;
					margin-left: 10px;
				}

				.comment__items__sendbtn {
					float: left;
					width: 100%;
					border-radius: 10px;
					@include newsButton($btnBlue);
					margin-top: 20px;
					box-sizing: border-box;
				}
			}
		}

	}
}



/****************************
	APPLICATION HISTORY
*****************************/

.apphistory .comment__items:hover {
	background: $lightgray;
}

.innercontent__apphistory {
	width: 100%;

	.apphistory__select {
		width: 150px;
		border: 1px solid $lightgray;
		padding: 5px 10px;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	.apphistory__items__button {
		position: absolute;
		width: 20%;
		right: 20px;
		top: 35%;

		a {
			display: inline-block;
			width: 75%;
			border-radius: 5px;
		}

		* {
			float: left;
		}

		.apphistory__items__button--notaccepted,
		.scout--forinterview {
			@include newsButton($btnDarkRed);
			margin-top: 0;
		}
		
		.apphistory__items__button--forinterview,
		.scout--underreview,
		.history--favorite--enabled {
			@include newsButton($btnBlue);
			display: inline-block;
			margin-top: 0;
		}
		
		.apphistory__items__button--pending {
			@include newsButton($btnGreen);
			display: inline-block;
			margin-top: 0;
		}
		
		.apphistory__items__button--joboffer,
		.scout--joboffer {
			@include newsButton($btnOrange);
			display: inline-block;
			margin-top: 0;
		}
		
		.apphistory__items__button--declined,
		.scout--declined,
		.history--favorite--disabled {
			@include newsButton($btnGray);
			display: inline-block;
			margin-top: 0;
		}

		.apphistory__forinterview {
			width: 30px;
			height: 30px;
			margin-left: 10px;
		}
	}
}

.apphistory__post .comment__items:hover {
	background: none;
}

.application__inbox--container {
	display: block;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 5px 5px 0 5px;
	border: 1px solid #a6c9e2;
	border-radius: 5px;
}


/****************************
	BROWSING HISTORY
*****************************/

.comment__items:hover {
	.history--delete {
		display: block;
	}
}

.history--delete {
	@include removeButton;
	top: 33%;
}

/****************************
	responsive
*****************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.navigation {

		padding: 0;

		.logo {
			width: 15%;
		}

		.navigation__menu {
			width: 50%;

			li {
				a {
					font-size: 12px;
				}
			}
		}

		.navigation_features {
			width: 35%;
		}
	}

	.top_latestjobs_item_details {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.salary_range {
    	font-size: 35px !important;
	}

	.skills {
		margin-right: 20px !important;
		font-size: 14px !important;
	}

	.prefecture {
		font-size: 14px !important;
	}

	.salary_range {
		font-size: 4vw;
	}

	.breadcrumbs_pagetitle {
		padding: 50px 0 0;
	}

	.nav_notifications {
		&::before {
			right: 4% !important;
		}
		&::after {
			right: 4% !important;
		}
	}

	.job_search_input_item input[type="text"],
	.job_search_input_item input[type="number"] {
		width: 70% !important;
	}

	.div__sidebar {
		width: 25% !important;
	}

	.div__2column__content {
		width: 75% !important;
	}

	.comment__sender {
		width: 100% !important;
		text-align: left !important;
		margin-bottom: 10px;
	}

} /* 768px - 1028px */


@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.login {
		background-size: auto 100%;
	}

}