﻿@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    color: #fff;
    background: #ccc;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #ccc;
    text-shadow: none
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5)
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: normal
}

img {
    border: none;
    vertical-align: text-bottom
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

figure {
    font-size: 0;
    line-height: 0
}

input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
/*# sourceMappingURL=common.css.map */
.hide {
    display: none;
 }

 .required {
    float: right;
    padding: 3px 5px;
    background: #C82506;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}

.required--text {
    color: #c82506;
    margin-top: 10px;
    font-size: 13px;   
}

.alert__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    box-sizing: border-box;
}

.alert__modal--container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    color: #212121;
    width: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert__modal--container p {
    padding: 15px;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.alert__modal--container span{
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.required--text {
          color: #c82506;
          margin-top: 10px;
          font-size: 13px;   
}

/* ADDED */

.dropdown-menu>li>a:hover {
    text-align: center;
    padding: 10px !important;
    width: 60px;
}

.dropdown-menu>li>a {
    padding: 0;
}

#dropdown {
    padding: 0 5px 0 0;
}

#dropdown .ac__list {
    width: 65% !important;
    text-align: center;
}

.dropdown-menu {
    min-width: 0!important;
}

.navigation_features .navigation__icons li {
    width: calc(100% / 3) !important;
}

.disabled {
    background: #cdcbca !important;
}

textarea.matched {
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 0;
    resize: none;
}

.detail_contents .chat_area.layout_2clm .text {
    white-space: pre;
}

/* The Modal (background) */
.modal {    display: none; /* Hidden by default */    position: fixed; /* Stay in place */    z-index: 1; /* Sit on top */    left: 0;    top: 0;    width: 100%; /* Full width */    height: 100%; /* Full height */    overflow: auto; /* Enable scroll if needed */    background-color: rgb(0,0,0); /* Fallback color */    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    padding-top: 60px;}
/* Modal Content/Box */
.modal-content {    background-color: #fefefe;    margin: 5px auto; /* 15% from the top and centered */    border: 1px solid #888;    width: 80%; /* Could be more or less, depending on screen size */}
/* The Close Button */
.close {    /* Position it in the top right corner outside of the modal */    position: absolute;    right: 25px;    top: 0;     color: #000;    font-size: 35px;    font-weight: bold;
}
/* Close button on hover */
.close:hover,
.close:focus {    color: red;    cursor: pointer;}
/* Add Zoom Animation */
.animate {    -webkit-animation: animatezoom 0.6s;    animation: animatezoom 0.6s}
@-webkit-keyframes animatezoom {    from {-webkit-transform: scale(0)}     to {-webkit-transform: scale(1)}}
@keyframes animatezoom {    from {transform: scale(0)}     to {transform: scale(1)}}