.top_featuredjobs_container * {
  box-sizing: border-box; }
.top_featuredjobs_container .top_1featuredjobs {
  position: relative;
}
/* 0 feature */
.top_featuredjobs_container .top_1featuredjobs .top_1featuredjobs__imgContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
}
/* 0 featured end */

/* 1 feature */
.top_featuredjobs_container .top_1featuredjobs .top_1featuredjobs__imgContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
}
/* 1 featured end */

/* 2 featured */
.top_featuredjobs_container .top_2featuredjobs .top_2featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_2featuredjobs .top_2featuredjobs__list .top_2featuredjobs__list_item {
  width: 50%;
  position: relative;
  height: 400px;
  overflow: hidden;
  display: block;
}
/* 2 featured end */

/* 3 featured */
.top_featuredjobs_container .top_3featuredjobs .top_3featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_3featuredjobs .top_3featuredjobs__list .top_3featuredjobs__list_item {
  width: 33.33%;
  position: relative;
  height: 350px;
  overflow: hidden;
}
/* 3 featured end */

/* 4 featured */
.top_featuredjobs_container .top_4featuredjobs .top_4featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_4featuredjobs .top_4featuredjobs__list .top_4featuredjobs__list_item {
  width: 50%;
  position: relative;
  height: 250px;
  overflow: hidden;
}
/* 4 featured end */

/* 5 featured*/
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub01 {
  width: 38%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 4px;
  position: relative;
  float: left;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 {
  width: 62%;
}
.top_featuredjobs_container .top_5featuredjobs .top_5featuredjobs__list .top_featuredjobs_item_sub02 a {
  position: relative;
  width: 50%;
  height: 200px;
  padding-right: 4px;
  margin-bottom: 4px;
  float: left;
  box-sizing: border-box;
}
/* 5 featured end */

@media (max-width: 768px) {
  .top_featuredjobs_container h2 {
    margin: auto; }
  .top_featuredjobs_container .top_featuredJob__text {
    display: table;
    width: 100%;
    padding: 7px 5px 14px 5px;
    font-size: 12px;
    line-height: 1.1;
    box-sizing: border-box;
    color: #000;
    text-align: center; } }
@media (min-width: 769px) {
  .top_featuredjobs_container h2 {
    margin: 40px auto; }
  .top_featuredjobs_container .top_featuredJob__text {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 5px 10px 7px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    line-height: 1; }
  .top_featuredjobs_container .top_featuredJob__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .top_featuredjobs_container section:last-of-type {
    margin-bottom: 40px; } }

/*# sourceMappingURL=featured.css.map */
