.info {
	
}

.confirm_div{
	display: none;
}

.cvc_error, .month_error, .top_error,
.year_error, .cc_error, 
.claim_error, .paynow {
    display: none;
    color: red;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.back_button {
    float: left;
    padding: 0;
    width: 49% !important;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background: #fff;
    color: #3b79f2;
    border: 1px solid #3b79f2;
    width: 144.34px;
}

.back_button:hover {
    color: white;
}

.card_details_label {
    font-size: 1.5rem;
    /*  font-family: 'Oswald', sans-serif!important;*/
    font-weight: bold;
    text-align: center;
}
/*
.card_details {
    margin: 0 0 -10px;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif!important;
    font-weight: 400;
}
*/
.item_border {
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
}

.item_border input:last-child {
    padding: 0 5px;
}

.top_error{
    display: block !important;
    margin-top: 20px;
}



/*************************
    CREDIT CARD VIEW
**************************/

.creditcard-view p.service-title {
    font-size: 28px !important;
    margin: 0 !important;
}

.creditcard-view .form-group {
    padding-top: 30px;
}

.creditcard-view .menu {
    margin: 0 auto;
}

.creditcard-view .menu * {
    float: left;
    width: 48% !important;
}

.creditcard-view .menu a.btn,
.creditcard-view .menu .back_button {
    margin-right: 4%;
    height: 45px;
    color: #3b79f2;
    line-height: 45px;
    background: transparent;
    border: 1px solid #3b79f2;
}

.creditcard-view .menu a.btn:hover {
    color: #fff;
    background: #3b79f2;
    border: 1px solid #3b79f2;
}

.confirm_div .form-group {
    padding-top: 15px;
}


/*************************
    CLAIM DETAILS
**************************/


.invoice_details {
    width: 500px !important;
}

.invoice_details .service-title {
    font-size: 28px !important;
}

table {
    width: 100%;
    font-size: 15px;
    border: solid 1px #a6a6a6;
}

 table td {
    width: 50%;
    padding: 5px 10px;
 }

 tbody tr:nth-child(odd){
    background-color: #4C8BF5;
    color: #fff;
}

.confirm_menu {
    margin-top: 25px;
}

.confirm_menu button:first-child {
    margin-right: 2%;
}

.confirm_menu button {
    width: 49% !important;
    padding: 0;
}


button {
    font-size: 14px !important;
    text-transform: uppercase !important;
}