@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,700');
.flex {
	display: -webkit-box;
	/*--- Androidブラウザ用 ---*/
	display: -ms-flexbox;
	/*--- IE10 ---*/
	display: -webkit-flex;
	/*--- safari（PC）用 ---*/
	display: flex;
}
.flex-between {
	display: -webkit-box;
	/*--- Androidブラウザ用 ---*/
	display: -ms-flexbox;
	/*--- IE10 ---*/
	display: -webkit-flex;
	/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-box-pack: justify;
	/*--- Androidブラウザ用 ---*/
	-ms-flex-pack: justify;
	/*--- IE10 ---*/
	-webkit-justify-content: space-between;
	/*--- safari（PC）用 ---*/
	justify-content: space-between;
}
.flex-center {
	display: -webkit-box;
	/*--- Androidブラウザ用 ---*/
	display: -ms-flexbox;
	/*--- IE10 ---*/
	display: -webkit-flex;
	/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-box-pack: center;
	/*--- Androidブラウザ用 ---*/
	-ms-flex-pack: center;
	/*--- IE10 ---*/
	-webkit-justify-content: center;
	/*--- safari（PC）用 ---*/
	justify-content: center;
}
.flex-end {
	display: -webkit-box;
	/*--- Androidブラウザ用 ---*/
	display: -ms-flexbox;
	/*--- IE10 ---*/
	display: -webkit-flex;
	/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-box-pack: end;
	/*--- Androidブラウザ用 ---*/
	-ms-flex-pack: end;
	/*--- IE10 ---*/
	-webkit-justify-content: flex-end;
	/*--- safari（PC）用 ---*/
	justify-content: flex-end;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-item-center {
	display: -webkit-box;
	/*--- Androidブラウザ用 ---*/
	display: -ms-flexbox;
	/*--- IE10 ---*/
	display: -webkit-flex;
	/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-box-align: center;
	/*--- Androidブラウザ用 ---*/
	-ms-flex-align: center;
	/*--- IE10 ---*/
	-webkit-align-items: center;
	/*--- safari（PC）用 ---*/
	align-items: center;
}
.flex-self-center {
	-ms-flex-flex-item-align: center;
	/*--- IE10 ---*/
	-webkit-align-self: center;
	/*--- safari（PC）用 ---*/
	align-self: center;
}
.flex-self-end {
	-ms-flex-flex-item-align: flex-end;
	/*--- IE10 ---*/
	-webkit-align-self: flex-end;
	/*--- safari（PC）用 ---*/
	align-self: flex-end;
}
.flex-self-start {
	-ms-flex-flex-item-align: flex-start;
	/*--- IE10 ---*/
	-webkit-align-self: flex-start;
	/*--- safari（PC）用 ---*/
	align-self: flex-start;
}
.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.br-none br {
	display: none;
}
.text-ry {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-none {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.box-link {
	display: block;
	width: 100%;
	height: 100%;
	color: #2f2f2f;
	text-decoration: none;
}
/* RESET */
html {
	box-sizing: border-box;
	/* 1 */
	-webkit-text-size-adjust: 100%;
}
*,
::before,
::after {
	box-sizing: inherit;
}
::before,
::after {
	text-decoration: inherit;
	/* 1 */
	vertical-align: inherit;
}
* {
	background-repeat: no-repeat;
	/* 1 */
	padding: 0;
	/* 2 */
	margin: 0;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
hr {
	overflow: visible;
	/* 1 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}
small {
	font-size: 80%;
	/* 1 */
}
[hidden],
template {
	display: none;
	/* 1 */
}
abbr[title] {
	border-bottom: 1px dotted;
	/* 1 */
	text-decoration: none;
	/* 2 */
}
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */
}
a:active,
a:hover {
	outline-width: 0;
	/* 1 */
}
ul {
	list-style-type: none;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	/* 1 */
}
b,
strong {
	font-weight: bolder;
	/* 1 */
}
dfn {
	font-style: italic;
	/* 1 */
}
mark {
	background-color: #ff0;
	color: #000;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
input {
	border-radius: 0;
}
[type="number"] {
	width: auto;
	/* 1 */
}
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	/* 1 */
}
textarea {
	overflow: auto;
	/* 1 */
	resize: vertical;
	/* 2 */
}
button,
input,
optgroup,
select,
textarea {
	font: inherit;
	/* 1 */
}
optgroup {
	font-weight: bold;
	/* 1 */
}
button {
	overflow: visible;
	/* 1 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: 0;
	padding: 0;
}
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	outline: 1px dotted ButtonText;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
}
button,
select {
	text-transform: none;
	/* 1 */
}
button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
	color: inherit;
}
select {
	-moz-appearance: none;
	/* 1*/
	-webkit-appearance: none;
	/* 2 */
}
select::-ms-expand {
	display: none;
	/* 1 */
}
select::-ms-value {
	color: currentColor;
	/* 1 */
}
legend {
	border: 0;
	/* 1*/
	color: inherit;
	/* 2 */
	display: table;
	/* 3 */
	max-width: 100%;
	/* 4 */
	white-space: normal;
	/* 5 */
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}
img {
	border-style: none;
	/* 1 */
}
progress {
	vertical-align: baseline;
}
svg:not(:root) {
	overflow: hidden;
	/* 1 */
}
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
}
@media screen {
	[hidden~="screen"] {
		display: inherit;
	}
	[hidden~="screen"]:not(:active):not(:focus):not(:target) {
		position: absolute !important;
		clip: rect(0 0 0 0) !important;
	}
}
[aria-busy="true"] {
	cursor: progress;
}
[aria-controls] {
	cursor: pointer;
}
[aria-disabled] {
	cursor: default;
}
::-moz-selection {
	background-color: #b3d4fc;
	/* 1 */
	color: #fff;
	text-shadow: none;
}
::selection {
	background-color: #b3d4fc;
	/* 1 */
	color: #fff;
	text-shadow: none;
}
/* INTERFACE */
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 1.4rem;
	color: #212121;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.animated {
	opacity: 0;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background: #0038a8;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 45px;
	padding: 0 40px;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	background-color: #3b79f2;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 4px;
	-webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background-color: #105aea;
	border-color: #3b79f2;
	outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #FFF;
	background-color: #d34031;
	border-radius: 4px;
	-webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #FFF;
	background-color: #ac3125;
	border-color: #d34031;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 25px;
	padding: 6px 10px;
	/* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
select {
	padding: 0 10px;
	line-height: 35px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #3b79f2;
	outline: 0;
}
label,
legend {
	cursor: pointer;
	display: inline-block;
	margin-bottom: .5rem;
	font-weight: normal;
	line-height: 1.5em;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}
.checkbox-wrapper .checkbox-input {
	display: none;
}
.checkbox-wrapper .checkbox-parts {
	padding-left: 20px;
	position: relative;
	margin-right: 20px;
	font-weight: normal;
}
.checkbox-wrapper .checkbox-parts::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts {
	color: #169d5a;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts::after {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 5px;
	width: 7px;
	height: 14px;
	transform: rotate(40deg);
	border-bottom: 3px solid #169d5a;
	border-right: 3px solid #169d5a;
}
.modal .checkbox {
	display: none;
}
/* Gray background */
.modal .modal-overlay {
	opacity: 0;
	transition: all 0.3s ease;
	width: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	transform: scale(1);
	display: none;
	background-color: rgba(50, 50, 50, 0.7);
}
/* Box */
.modal .modal-wrap {
	background-color: #fff;
	box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
	padding: 40px 50px;
	width: 60%;
	margin: 20px auto;
	align-self: flex-start;
	border-radius: 2px;
	transition: all 0.5s ease;
}
.modal .modal-wrap.small {
	width: 30%;
}
.modal .modal-wrap.full {
	width: 100%;
	height: 100%;
}
.modal .modal-wrap.a-center {
	align-self: center;
}
.modal .modal-wrap.from-left {
	transform: translateX(-100%);
}
.modal .modal-wrap.from-right {
	transform: translateX(100%);
}
.modal .modal-wrap.from-top {
	transform: translateY(-100%);
}
.modal .modal-wrap.from-bottom {
	transform: translateY(100%);
}
/* Close button */
.modal .modal-overlay .close {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 40px;
	width: 30px;
	height: 30px;
}
.modal .modal-overlay .close svg.icon {
	width: 30px;
	height: 30px;
}
.modal .modal-overlay .close:hover {
	cursor: pointer;
	color: #4b5361;
}
.modal .o-close {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -100;
}
.modal input:checked ~ .o-close {
	z-index: 9998;
}
.modal input:checked ~ .modal-overlay {
	transform: scale(1);
	opacity: 1;
	z-index: 9997;
	overflow: auto;
	display: flex;
	animation-duration: 0.5s;
	animation-name: fade-in;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: fade-in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fade-in;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
	transform: translateY(0);
	z-index: 9999;
}
/* Responsive Design */
/* Tablet size */
@media (max-width: 800px) {
	.modal .modal-wrap {
		width: 80%;
		padding: 20px;
	}
}
/* Phone size */
@media (max-width: 500px) {
	.modal .modal-wrap {
		width: 90%;
	}
}
/* Fadein from display:none */
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}
@-moz-keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}
@-webkit-keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}
.panel {
	position: relative;
	-webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	-moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	background-color: #fff;
}
.panel .inner {
	padding: 30px 50px;
}
svg.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.cf {
	zoom: 1;
}
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	content: '';
	display: table;
	clear: both;
}
p {
	font-size: 1.4rem;
	line-height: 1.5em;
}
a {
	text-decoration: none;
	color: #0038a8;
}
a.btn {
	display: inline-block;
	height: 40px;
	padding: 0 40px;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	background-color: #3b79f2;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 4px;
	-webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
a.btn:hover {
	background-color: #105aea;
}
a.btn.red {
	background-color: #d34031;
}
a.btn.red:hover {
	background-color: #ac3125;
}
a.btn.blue {
	background-color: #3b79f2;
}
a.btn.blue:hover {
	background-color: #105aea;
}
a.btn.green {
	background-color: #169d5a;
}
a.btn.green:hover {
	background-color: #107040;
}
a.btn.grey {
	background-color: #333;
}
a.btn.grey:hover {
	background-color: #1a1a1a;
}
div.btn-wrapper {
	padding: 10px;
	text-align: center;
}
div.btn-wrapper a.btn { margin: 10px; }

span.red { color: #d34031; }

span.blue { color: #3b79f2; }

span.green { color: #169d5a; }

span.bold {
	color: #333;
	font-weight: bold;
}

small {
	font-size: 1.2rem;
}

.login header#global-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

header#global-header {
	width: 100%;
}

header#global-header div.inner {
	height: 80px;
	padding: 15px 40px;
	box-sizing: border-box;
}

header#global-header div.inner figure.logo {
	float: left;
	width: 150px;
	margin: 0;
}

header#global-header div.inner figure.logo a {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	-o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}

header#global-header div.inner figure.logo a:hover {
	opacity: 0.8;
}

header#global-header div.inner figure.logo a img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* NICOLE 1024 MODIFY LOGIN ↓ */

header#global-header div.inner ul.function-menu {
	display: none;
}

.login header .jobrecruit__apply {
	display: block !important;
	float: right;
	padding: 20px 0;
	text-transform: uppercase;
	transition: all .2s linear;
}

header .jobrecruit__apply:hover {
	text-decoration: underline;
}

.login div.content-wrapper {
	width: 100%;
	height: 100vh;
	padding: 0;
	position: relative;
	background: url(../../img/corporate/login_bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
}

.login_buttons {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8%;
	text-align: center;
}

.login_buttons * {
	width: 330px;
	display: inline-block;
	padding: 22px 0;
	font-size: 18px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px;
}

.login_buttons .button_facebook {
	background: #3b5998;
	margin-right: 30px;
	color: #fff;
}

.login_buttons .button_facebook:hover {
	opacity: .7;
}

.login_buttons .button_email {
	border: 1px solid #c6d1e8;
	color: #000;
}

.login_buttons .button_email:hover {
	border: 1px solid #c6d1e8;
	background: #c6d1e8;
}

/* NICOLE 1024 MODIFY MEMBER REGISTRATION ↓ */

div.content-wrapper {
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.registration__container {
	width: 100%;
	max-width: 1100px;
	margin: 25px auto;
}

.registration__steps {
	list-style: none;
}

.registration__steps li {
	padding: 10px 15px;
	margin-right: 40px;
	float: left;
	position: relative;
	background: #105aea;
	color: #fff;
	text-transform: uppercase;
}

.registration__steps li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 0;
	right: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 18px 0 18px 15px;
	border-color: transparent transparent transparent #105aea;
}

.registration__content {
	width: 100%;
}

.registration__content h2 {
	font-size: 20px;
	margin-top: 50px;
	padding: 0 2%;
	box-sizing: border-box;
}

.registration__content table {
	margin-top: 10px;
	border-collapse: collapse;
	border-top: 1px solid #000;
}

.registration__content table tr td {
	font-size: 15px;
	line-height: 1;
	padding: 20px 2% 0;
	box-sizing: border-box;
}

.registration__content table tr td input[type="text"],
.registration__content table tr td input[type="password"]{
	width: 100%;
}

.registration__content table tr td:first-child {
	width: 20%;
}

.registration__content table tr:last-child td {
	text-align: center;
}

.registration__content table tr:nth-of-type(5) td input[type="text"]:not(:last-child) {
	margin-bottom: 10px;
}

.btnRegister {
	padding: 5px 10px;

}

a.btnRegister:hover {
	text-decoration: none;
}