

.navigation_features ul.function-menu {
  float: right;
  width: 40%;
  margin-top: 2px;
  list-style: none;
  margin-bottom: 0;
}
.navigation_features ul.function-menu li.function {
  float: left;
  margin: 0 3%;
  text-align: center;
  position: relative;
}
.navigation_features ul.function-menu li.function.defaultLogin {
  float: none;
  display: inline-block;
}
.navigation_features ul.function-menu li.function span.icon {
  display: inline-block;
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
.navigation_features ul.function-menu li.function ul.tooltip {
  display: none;
  list-style: none;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: -15px;
}
.navigation_features ul.function-menu li.function ul.tooltip:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2;
}
.navigation_features ul.function-menu li.function ul.tooltip:after {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #e5e5e5;
  position: absolute;
  right: 20px;
  top: -21px;
}
.navigation_features ul.function-menu li.function.notice span.icon {
  background-image: url(../../images/common/icon/header-notice.png);
  position: relative;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item span.user-icon {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #8a8a8a;
    background-position: center;
    cursor: pointer;
    background-image: url(../../images/common/icon/header-user.png);
    background-repeat: no-repeat;
    background-color: #8a8a8a;
    background-size: cover;
    position: absolute;
    top: calc(50% - 12px);
    left: 10px;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item:first-child span.user-icon{
  top: calc(50% - 15px);
}
.navigation_features ul.function-menu li.function.notice span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip {
  width: 300px;
  opacity: 1;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: right;
  position: relative;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item a,
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item a {
  color: inherit;
  text-decoration: none;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.item p.text,
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item p.text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  -webkit-margin-after: 10px;
  text-align: left;
  padding-left: 40px;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.read-more {
  background-color: #3b79f2;
  text-align: center;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.navigation_features ul.function-menu li.function.notice ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
.navigation_features ul.function-menu li.function.applicant span.icon {
  background-image: url(../../images/common/icon/header-comment.png);
  position: relative;
}
.navigation_features ul.function-menu li.function.applicant span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip {
  width: 300px;
  opacity: 1;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  /*font-family: sans-serif;*/
  text-align: right;
  overflow: hidden;
  position: relative;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item .no-notification {
  width: 100% !important;
  text-align: center;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item:first-child span.user-icon {
  top: calc(50% - 10px);
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.item span.user-icon {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../images/common/icon/header-user.png);
  background-repeat: no-repeat;
  background-color: #8a8a8a;
  position: absolute;
  left: 10px;
  top: calc(50% - 12px);
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.read-more {
  background-color: #3b79f2;
  text-align: center;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.navigation_features ul.function-menu li.function.applicant ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
.navigation_features ul.function-menu li.function.user span.icon {
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
  overflow: hidden;
}
.navigation_features ul.function-menu li.function.user span.icon img{
    margin-left: -2%;
    width: 104%;
    height: auto;
}
.navigation_features ul.function-menu li.function.user ul.tooltip {
  width: 150px;
  opacity: 1;
}
.navigation_features ul.function-menu li.function.user ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
.navigation_features ul.function-menu li.function.user ul.tooltip li.item:last-child {
  margin: 0;
  border-bottom: none;
}
.navigation_features ul.function-menu li.function.user ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
.navigation_features ul.function-menu li.function.user ul.tooltip li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.navigation_features ul.function-menu li.function.user ul.tooltip li.item a:hover {
  background-color: #dbe7ff;
}

/**********************
  COMMON FRONT - NICOLE 1126
***********************/

input[type="button"] {
  background: none;
  border: 0;
}

@media screen and (max-width: 767px) {
  
  .navigation_features ul.function-menu li.function.defaultLogin {
    float: right;
  }

  .navigation_features ul.function-menu li.function.applicant ul.tooltip {
    width: 225px;
  }

  .navigation_features ul.function-menu li.function.notice ul.tooltip {
    width: 250px;
  }

}


.unseen {
  background-color: #b3d4fc;
}




/**********************
  COMMON FRONT - RYAN 180307
***********************/
.navigation_features ul.function-menu li.function.notice ul.tooltip .tooltip__container {

  max-height: 500px;
  overflow-y: auto;
}