body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    font-size: 16px;
    color: #212121;
    background-color: #fff;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #000;
    text-decoration: underline;
}


.cf {
    zoom: 1;
}

.cf:before {
    content: '';
    display: table;
}

.cf:after {
    content: '';
    display: table;
    clear: both;
}

.red {
    color: #ff0000;
}

.invoice__wrapper {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #000;
}

.invoice__wrapper header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.invoice__wrapper header figure {
    float: left;
    width: 150px;
    height: auto;
    margin: 0;
}

.invoice__wrapper header figure img {
    width: 100%;
    height: auto;
}

.invoice__wrapper header span {
    float: right;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #000;
}

.invoice__table {
    margin-top: 150px;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 3px solid #929292;
}

.invoice__table td, th {
    padding: 5px 15px;
}

.invoice__table tr td:first-child,
.invoice__table tr td:nth-of-type(3) {
    text-align: right;
    width: 150px;
}

.invoice__table tr:last-child td {
    padding-bottom: 50px;
}

.invoice__table02 {
    width: 100%;
    border-collapse: collapse;
}

.invoice__table02 thead {
    background: #D6D5D5;
}

.invoice__table02 thead tr th {
    padding: 15px;
    font-size: 21px;
    font-weight: bold;
    color: #000;
}

.invoice__table02 thead tr th:first-child {
    text-align: left;
}

.invoice__table02 tbody:nth-of-type(1) tr td {
    padding: 20px 15px;
    font-size: 14px;
}

.invoice__table02 tbody:nth-of-type(1) tr td:not(:first-child) {
    text-align: center;
}

.invoice__table02 tbody:nth-of-type(2) tr td {
    padding: 5px 15px 0;
}

.invoice__table02 tbody:nth-of-type(2) tr:first-child td {
    padding-top: 15px;
}

.invoice__table02 tbody:nth-of-type(2) tr:last-child td {
    padding-bottom: 15px;
}
.invoice__table02 tbody:nth-of-type(1) tr:last-child td {
    border-bottom: 2px solid #D6D5D5;
}

.invoice__table02 tbody:nth-of-type(2) tr td:first-child {
    font-size: 10px;
}
.invoice__table02 tbody:nth-of-type(2) tr td:nth-of-type(3) {
    text-align: right;
}

.invoice__table02 tbody:nth-of-type(2) tr td:nth-of-type(3) ,
.invoice__table02 tbody:nth-of-type(2) tr td:nth-of-type(4) {
    font-size: 14px;
}

.sub_total {
    float: right;
    width: 50%;
    margin-top: 25px;
    border-top: 3px solid #000;
}

.sub_total span {
    margin-top: 10px;
    width: 49.5%;
    padding: 0 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
    box-sizing: border-box;
}

.sub_total span:last-child {
    text-align: right;
}