div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color: #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
  background-color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red:hover {
  background-color: #ac3125;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td a:hover {
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.panel .tbody .tr .td:last-child {
  width: 100px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(110px);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.notice a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-notice-active.png);
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(1) {
  width: 150px;
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(2) {
  width: 150px;
  text-transform: uppercase;
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(2) span.cate {
  display: inline-block;
  width: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1.3rem;
  color: #fff;
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(2) span.cate.notice {
  background-color: #3b79f2;
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(2) span.cate.dunning {
  background-color: #d34031;
}
main#notice-view div.content-inner > div.section .table .tbody .tr .td:nth-child(3) {
  text-align: left;
}


/**********************************
  NOTICE DETAILS - 12042017
***********************************/

.blog {
  margin-bottom: 15px !important;
  padding: 20px;
  box-sizing: border-box;
}

.table__blog {
  width: 100%;
}

.table__blog h1 {
  color: #0038A8;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.table__blog thead tr:first-child th:first-child {
  width: 75%;
}

.table__blog thead tr:first-child th:last-child {
  width: 25%;
  text-align: right;
}

.table__blog tbody tr td p {
  padding: 20px 0;
  min-height: 50vh;
}

.table__blog tbody tr:last-child td {
  text-align: right;
}

a.btn:hover {
  color: #fff;
}


/*========================
    コメントリスト
========================*/
.comment_list {
    background-color: #ffffff;
    box-shadow:0px 0px 7px 3px #eeeff2;
    -moz-box-shadow:0px 0px 7px 3px #eeeff2;
    -webkit-box-shadow:0px 0px 7px 3px #eeeff2;
}


/*リストタイトル*/
.comment_list .list_title_wrap {
    padding: 25px 50px;
    border-bottom: 1px #e5e5e5 solid;
}

.comment_list .list_title_wrap .list_title {
    float: left;
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
}

.comment_list .list_title_wrap .list_sort {
  float: right;
}

.comment_list .list_title_wrap .list_title .link:hover {
    opacity: 0.6;
}

.comment_list .list_info .link_post:hover {
  text-decoration: none;
}

/* リスト */
.comment_list .list_info {
    border-bottom: 1px #e5e5e5 solid;
}

.comment_list .list_info .link_post {
    position: relative;
    padding: 35px 50px;
    color: #212121;
    font-size: 15px;
    line-height: 1;
}
.comment_list .list_info .link_post:hover {
    background-color: #f8f9fb;
}
.detail_page .comment_list .list_info .link_post:hover {
    background-color: #fff;
}

.comment_list .list_info_title {
    color: #212121;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.comment_list .list_info_title a:hover {
  text-decoration: none;
}

.comment_list .list_info .inner {
    position: relative;
}

.comment_list .office_name {
    margin-top: 15px;
    font-size: 15px;
    font-weight: normal;
}

.comment_list .info {
    margin-top: 7px;
    width: 85%;
    float: left;
}
.comment_list .info_02 {
    margin-left: 50px;
}


/* コメント数 */
.comment_list .comment { float: right; position: relative; font-size: 15px; color: #858585; line-height: 1; width: 15%; transition: all .2s linear; }
.comment_list .comment:hover { opacity: .7; }
.comment_list .comment:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url('../../images/applicant/img-main-icon01.png') no-repeat center top;
  background-size: 100% auto;
}

.comment_list .comment span {
  margin-left: 25px;
}

/* ラベル */
.comment_list .label {
    position: absolute;
    top: 16px;
    right: 50px;
    font-size: 14px;
    transition: all .2s linear;
}

.comment_list .label:hover {
  opacity: .7;
}

/* メールアイコン */
.comment_list .icon_mail {
    position: absolute;
    top: 16px;
    right: 0;
}


/* 削除アイコン */
.comment_list .icon_delete {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*========================
    詳細ページコンテンツ
========================*/
.detail_contents {
    padding: 35px 50px;
    background: #e5e5e5;
}

.chat_area.layout_2clm {
  position: relative;
}

.left:hover + .icon__username,
.right:hover + .icon__username {
  display: block;
}

.right + .icon__username {
  top: 55px;
  right: -40px;
}

.left + .icon__username {
  top: 55px;
  left: -40px;
}

.icon__username {
  display: none;
  position: absolute;
  padding: 3px 10px 0;
  width: 120px;
  color: #fff;
  background: rgba(0,0,0, .4);
  text-align: center;
  z-index: 1;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
}

.icon__username .message__date {
  display: block;
  font-size: 10px;
  padding: 3px 0;
}

.detail_contents .chat_area.layout_2clm .icon {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.detail_contents .chat_area.layout_2clm .icon img {
    width: 100%;
    height: auto;
    min-height: 50px;
}

.detail_contents .chat_area.layout_2clm .text {
    width: calc(100% - 70px);
    padding: 20px;
    border-radius: 20px;
    background: #fff;
}

.detail_contents .form_area {
  padding: 0;
  margin-top: 30px;
}

.detail_contents .form_area table {
  width: 100%;
}

.detail_contents .form_area table textarea {
  width: 100%;
  min-height: 150px;
}

.detail_contents .form_area.layout_2clm .btn_submit {
  margin-top: 75px;
}

.dvMainButtons {
  text-align: center;
  margin-top: 25px;
}

/*========================
    詳細ページのチャット
========================*/
.detail_contents_chat {
    padding: 60px 40px;
    /* background: #e6fffe; */
    background: #ececec;
}

.detail_contents_chat .tab_area {
  width: 300px;
}

/* タブ */
.detail_contents_chat .tab_area {
    /* background: #e6fffe; */
    background: #ececec;
}
.detail_contents_chat .tab {
    padding: 5px 100px;
    margin-bottom: 0;
    border: 1px solid #8a8a8a;
    background: #e5e5e5;
    border-radius: 20px 20px 0 0;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.detail_contents_chat .tab:hover {
    opacity: 0.6;
}

.detail_contents_chat .tab.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    cursor: auto;
}
.detail_contents_chat .tab.active:hover {
    opacity: 1;
}


/* チャットリスト */
.detail_contents_chat .chat_list {
    margin-top: -1px;
    border: 1px solid #8a8a8a;
}

.detail_contents_chat .cloesed_chat {
    position: relative;
    background: #fff;
    padding: 15px 50px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}
.detail_contents_chat .cloesed_chat:first-of-type {
    border-top: none;
}
.detail_contents_chat .cloesed_chat .btn_pulldown {
    position: absolute;
    top: 50%;
    right: 35px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
}

.detail_contents_chat .cloesed_chat .btn_img {
    width: 100%;
    display: none;
    transition: all .2s linear;
}

.detail_contents_chat .cloesed_chat .btn_img.on_off {
  display: block;
}

.detail_contents_chat .cloesed_chat .text {
    width: calc(100% - 90px);
    padding-left: 20px;
    /*white-space: pre-line;*/
}
.detail_contents_chat p { margin: 0; }

.detail_contents_chat .opened_chat {
    padding: 35px 50px;
    background: #e5e5e5;
}


/* フォーム */
.detail_contents_chat .opened_chat {
    display: none;
}

.detail_contents_chat .btn_reply {
    padding: 0 40px;
    padding: 15px 40px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    background-color: #3b79f2;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.detail_contents_chat .btn_reply:hover,
.detail_contents_chat .btn_reply:focus {
    background-color: #105aea;
    border-color: #3b79f2;
    outline: 0;
}

.detail_contents_chat .opened_chat_send .form_area {
    margin-top: 0;
}

.detail_contents_chat .opened_chat_send .form_area th,
.detail_contents_chat .opened_chat_send .form_area td {
    display: block;
    padding: 0;
    border: none;
}

.detail_contents_chat .opened_chat_send.confirm .form_area {
    margin-top: 30px;
}

.detail_contents_chat .opened_chat_send.confirm .form_area table {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #fff;
}

.detail_contents_chat .opened_chat_send.confirm .form_area th,
.detail_contents_chat .opened_chat_send.confirm .form_area td {
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: top;
    line-height: 1.5;
}
.detail_contents_chat .opened_chat_send.confirm .form_area th {
    width: 5em;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
}
.detail_contents_chat .opened_chat_send.confirm .form_area td {
    font-size: 13px;
}

.detail_contents_chat .opened_chat_send .sub_title {
    margin: 20px 0 5px;
    font-size: 15px;
    font-weight: normal;
}
.detail_contents_chat .send_mail_area .sub_title:first-of-type {
    margin-top: 0;
}

.detail_contents_chat .status_box {
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid  #aaa;
}

.detail_contents_chat .status_box .label {
    position: static;
}

.detail_contents_chat .status_box select {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0 15px;
}

/*====================================================================
  TOOLTIP
====================================================================*/

.icon.left {
  float: left;
  margin-right: 10px;
}

.icon.right {
  float: right;
  margin-left: 10px;
}

.icon.right:hover + .user__name {
  display: block;
}

.icon.right + .user__name {
  position: absolute;
  top: 55px;
  right: -39px;
}

.icon.left:hover + .user__name {
  display: block;
}

.icon.left + .user__name {
  position: absolute;
  top: 55px;
  left: -39px;
}

/***********************************************
  COMMENT DATE
************************************************/

.detail_contents .chat_area.layout_2clm .text {
  position: relative;
}

.detail_contents .chat_area.layout_2clm .text.left {
  float: left;
  text-align: left;
}

.detail_contents .chat_area.layout_2clm .text.right {
  float: right;
  text-align: right;
}

.detail_contents_chat .chat_area.layout_2clm {
  margin-top: 15px;
}

.layout_1clm {
  margin-top: 25px;
  text-align: center;
}