@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,700');
.flex {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
}
.flex-between {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
}
.flex-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari（PC）用 ---*/
  justify-content: center;
}
.flex-end {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: end;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: end;
  /*--- IE10 ---*/
  -webkit-justify-content: flex-end;
  /*--- safari（PC）用 ---*/
  justify-content: flex-end;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item-center {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari（PC）用 ---*/
  align-items: center;
}
.flex-self-center {
  -ms-flex-flex-item-align: center;
  /*--- IE10 ---*/
  -webkit-align-self: center;
  /*--- safari（PC）用 ---*/
  align-self: center;
}
.flex-self-end {
  -ms-flex-flex-item-align: flex-end;
  /*--- IE10 ---*/
  -webkit-align-self: flex-end;
  /*--- safari（PC）用 ---*/
  align-self: flex-end;
}
.flex-self-start {
  -ms-flex-flex-item-align: flex-start;
  /*--- IE10 ---*/
  -webkit-align-self: flex-start;
  /*--- safari（PC）用 ---*/
  align-self: flex-start;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.br-none br {
  display: none;
}
.text-ry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-none {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.box-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #2f2f2f;
  text-decoration: none;
}
/* RESET */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
*,
::before,
::after {
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
}
* {
  background-repeat: no-repeat;
  /* 1 */
  padding: 0;
  /* 2 */
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
  /* 1 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
small {
  font-size: 80%;
  /* 1 */
}
[hidden],
template {
  display: none;
  /* 1 */
}
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */
}
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
  /* 1 */
}
ul {
  list-style-type: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
}
b,
strong {
  font-weight: bolder;
  /* 1 */
}
dfn {
  font-style: italic;
  /* 1 */
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
input {
  border-radius: 0;
}
[type="number"] {
  width: auto;
  /* 1 */
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* 1 */
}
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
}
optgroup {
  font-weight: bold;
  /* 1 */
}
button {
  overflow: visible;
  /* 1 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
button,
select {
  text-transform: none;
  /* 1 */
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  /* 1*/
  -webkit-appearance: none;
  /* 2 */
}
select::-ms-expand {
  display: none;
  /* 1 */
}
select::-ms-value {
  color: currentColor;
  /* 1 */
}
legend {
  border: 0;
  /* 1*/
  color: inherit;
  /* 2 */
  display: table;
  /* 3 */
  max-width: 100%;
  /* 4 */
  white-space: normal;
  /* 5 */
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
img {
  border-style: none;
  /* 1 */
}
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
  /* 1 */
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #fff;
  text-shadow: none;
}
/* INTERFACE */
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.4rem;
  color: #212121;
  background-color: #f5f6f9;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animated {
  opacity: 0;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0038a8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 45px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #105aea;
  border-color: #3b79f2;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #d34031;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ac3125;
  border-color: #d34031;
}
input.postal__code,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 35px;
  padding: 6px 10px;
  width: 350px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
select {
	width: 190px;
	padding: 0 10px;
	line-height: 35px;
}

input[type="label"]{
  width: 350px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #3b79f2;
  outline: 0;
}
label,
legend {
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: normal;
  line-height: 1.5em;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-input {
  display: none;
}
.checkbox-wrapper .checkbox-parts {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  font-weight: normal;
}
.checkbox-wrapper .checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts {
  color: #169d5a;
}
.checkbox-wrapper .checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #169d5a;
  border-right: 3px solid #169d5a;
}
.modal .checkbox {
  display: none;
}
/* Gray background */
.modal .modal-overlay {
  opacity: 0;
  transition: all 0.3s ease;
  width: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: none;
  background-color: rgba(50, 50, 50, 0.7);
}
/* Box */
.modal .modal-wrap {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.2);
  padding: 40px 50px;
  width: 60%;
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.modal .modal-wrap.small {
  width: 30%;
}
.modal .modal-wrap.full {
  width: 100%;
  height: 100%;
}
.modal .modal-wrap.a-center {
  align-self: center;
}
.modal .modal-wrap.from-left {
  transform: translateX(-100%);
}
.modal .modal-wrap.from-right {
  transform: translateX(100%);
}
.modal .modal-wrap.from-top {
  transform: translateY(-100%);
}
.modal .modal-wrap.from-bottom {
  transform: translateY(100%);
}
/* Close button */
.modal .modal-overlay .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close svg.icon {
  width: 30px;
  height: 30px;
}
.modal .modal-overlay .close:hover {
  cursor: pointer;
  color: #4b5361;
}
.modal .o-close {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}
.modal input:checked ~ .o-close {
  z-index: 9998;
}
.modal input:checked ~ .modal-overlay {
  transform: scale(1);
  opacity: 1;
  z-index: 9997;
  overflow: auto;
  display: flex;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(0);
  z-index: 9999;
}
/* Responsive Design */
/* Tablet size */
@media (max-width: 800px) {
  .modal .modal-wrap {
    width: 80%;
    padding: 20px;
  }
}
/* Phone size */
@media (max-width: 500px) {
  .modal .modal-wrap {
    width: 90%;
  }
}
/* Fadein from display:none */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

.panel_reg {
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  background-color: #fff;
}
.panel_reg .inner {
  padding: 30px 50px;
}

.panel {
	max-width: 1200px;
	position: relative;
	-webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	-moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
	background-color: #fff;
}
.panel .inner {
	padding: 30px 50px;
}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.cf {
  zoom: 1;
}
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
p {
  font-size: 1.4rem;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #0038a8;
}
a.btn {
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-color: #3b79f2;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
a.btn:hover {
  background-color: #105aea;
}
a.btn.red {
  background-color: #d34031;
}
a.btn.red:hover {
  background-color: #ac3125;
}
a.btn.blue {
  background-color: #3b79f2;
}
a.btn.blue:hover {
  background-color: #105aea;
}
a.btn.green {
  background-color: #169d5a;
}
a.btn.green:hover {
  background-color: #107040;
}
a.btn.grey {
  background-color: #333;
}
a.btn.grey:hover {
  background-color: #1a1a1a;
}
a.btnRegister:hover {
  text-decoration: none;
}
div.btn-wrapper {
  padding: 10px;
  text-align: center;
}
div.btn-wrapper a.btn {
  margin: 10px;
}
span.red {
  color: #d34031;
}
span.blue {
  color: #3b79f2;
}
span.green {
  color: #169d5a;
}
span.bold {
  color: #333;
  font-weight: bold;
}
small {
  font-size: 1.2rem;
}
header#global-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header#global-header div.inner {
  height: 80px;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}
header#global-header div.inner figure.logo {
  float: left;
  width: 150px;
  margin: 0;
}
header#global-header div.inner figure.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner figure.logo a:hover {
  opacity: 0.8;
}
header#global-header div.inner figure.logo a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
header#global-header div.inner ul.function-menu {
  float: right;
  display: inline-block;
  padding: 7px 0 0;
}
header#global-header div.inner ul.function-menu li.function {
  float: left;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
header#global-header div.inner ul.function-menu li.function span.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip {
  display: none;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: -15px;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2;
}
header#global-header div.inner ul.function-menu li.function ul.tooltip:after {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #e5e5e5;
  position: absolute;
  right: 20px;
  top: -21px;
}
header#global-header div.inner ul.function-menu li.function.notice span.icon {
  background-image: url(../../images/common/icon/header-notice.png);
  position: relative;
}
header#global-header div.inner ul.function-menu li.function.notice span.icon.unread:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #d60000;
  z-index: 999;
  position: absolute;
  right: -4px;
  top: -4px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip {
  width: 300px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: right;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:first-child {
  padding: 15px 10px 10px;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.item p.text {
  font-size: 1.2rem;
  text-align: left;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more {
  background-color: #3b79f2;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.notice ul.tooltip li.read-more a:hover {
  background-color: #105aea;
}
header#global-header div.inner ul.function-menu li.function.user span.icon {
  background-image: url(../../images/common/icon/header-user.png);
  background-color: #0038a8;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip {
  width: 150px;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item {
  margin: 0 0 5px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:last-child {
  margin: 0;
  border-bottom: none;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item:nth-last-child(2) {
  margin: 0;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
header#global-header div.inner ul.function-menu li.function.user ul.tooltip li.item a:hover {
  background-color: #dbe7ff;
}
div.content-wrapper {
  height: 100%;
  padding: 80px 0 0;
  overflow: hidden;
  position: relative;
}
div.content-wrapper aside#sidebar {
  width: 250px;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper aside#sidebar::-webkit-scrollbar {
  display: none;
}
div.content-wrapper aside#sidebar div.menu-btn {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper aside#sidebar div.menu-btn:hover {
  color: #0038a8;
  background-color: #e5e5e5;
}
div.content-wrapper aside#sidebar div.menu-btn img {
  width: 20px;
  height: 20px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item {
  height: 50px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 70px;
  line-height: 50px;
  color: #666;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  background-position: 40px center;
  background-size: 20px;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item a:hover {
  color: #0038a8;
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.home a {
  background-image: url(../../images/common/icon/nav-dashboard.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.home a:hover {
  background-image: url(../../images/common/icon/nav-dashboard-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.companies a {
  background-image: url(../../images/common/icon/nav-company.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.companies a:hover {
  background-image: url(../../images/common/icon/nav-company-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.billing a {
  background-image: url(../../images/common/icon/nav-billing.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.billing a:hover {
  background-image: url(../../images/common/icon/nav-billing-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.ranking a {
  background-image: url(../../images/common/icon/nav-analytics.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.ranking a:hover {
  background-image: url(../../images/common/icon/nav-analytics-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.notice a {
  background-image: url(../../images/common/icon/nav-notice.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.notice a:hover {
  background-image: url(../../images/common/icon/nav-notice-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.contact a {
  background-image: url(../../images/common/icon/nav-contact.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.contact a:hover {
  background-image: url(../../images/common/icon/nav-contact-active.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.master-admin a {
  background-image: url(../../images/common/icon/nav-account.png);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.master-admin a:hover {
  background-image: url(../../images/common/icon/nav-account-active.png);
}
div.content-wrapper aside#sidebar.side-open {
  width: 50px;
}
div.content-wrapper aside#sidebar.side-open div.menu-btn {
  text-align: center;
  padding: 15px;
  margin: 0;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item {
  text-align: center;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item a {
  padding: 0;
  background-position: 15px center;
}
div.content-wrapper aside#sidebar.side-open nav.global-nav ul.list li.item a span {
  display: none;
}
div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: scroll;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}

div.content-wrapper main.content-main div.content-inner .local-nav ul.menu_cancel {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}

div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #105aea;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color: #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
html,
body,
main {
  height: 100%;
}
/* main#register-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
} */
@media all and (-ms-high-contrast: none) {
  main#register-view {
    justify-content: flex-start;
  }
}
main#register-view figure.logo {
  width: 125px;
  position: absolute;
  left: 25px;
  top: 20px;
  display: inline-block;
  padding-left: 0;
  z-index: 1;
}
main#register-view figure.logo img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
main#register-view div.panel {
  width: 80%;
  margin: 160px auto 50px;
}
main#register-view div.panel div.inner p.service-title {
  margin: 0 0 30px;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
main#register-view div.panel div.inner ul.list {
  margin: 0 0 20px;
}
main#register-view div.panel div.inner ul.list li.item {
  margin: 0 0 20px;
}
main#register-view div.panel div.inner ul.list li.item:last-child {
  margin: 0;
}
main#register-view div.panel div.inner ul.list li.item input {
  width: 100%;
}
main#register-view div.panel div.inner div.checkbox-wrapper {
  margin: 0 0 15px;
}
main#register-view div.panel div.inner div.menu {
  text-align: center;
}

/* Registration */
main#register-view div.panel_reg {
  width: 700px;
  margin: 0 auto 10px;
}
main#register-view div.panel_reg div.inner p.service-title {
  margin: 0 0 30px;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
main#register-view div.panel_reg div.inner ul.list {
  margin: 0 0 20px;
}
main#register-view div.panel_reg div.inner ul.list li.item {
  margin: 0 0 20px;
}
main#register-view div.panel_reg div.inner ul.list li.item:last-child {
  margin: 0;
}
main#register-view div.panel_reg div.inner ul.list li.item input {
  width: 100%;
}
main#register-view div.panel_reg div.inner div.checkbox-wrapper {
  margin: 0 0 15px;
}
main#register-view div.panel_reg div.inner div.menu {
  text-align: center;
}

main#register-view div.panel_reg div.inner div.menu_cancel {
  text-align: center;
}
.registration__confirmation {
  display: none;
}
.error-message{
  color: red;
  /*text-align: center;*/
}

.email_error {
  display: none;
}

.phone_error {
  display: none;
}

.email_format_error {
  display: none;
}

.phone_format_error {
  display: none;
}

.password_error {
  display: none;
}

.password_error_missmatch {
  display: none
}

.conditions_error {
  display: none;
}
/* NICOLE ↓ */

.menu .btn {
  padding: 0 40px;
}

.menu .btn:hover, .menu .btn:focus {
  color: #fff;
}

.regfor {
  margin: 10px 0;
}

.regfor * {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 2;
  text-decoration: none;
}

.regfor * a {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  main#register-view {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape){
  main#register-view div.panel {
    margin-top: 160px;
  }
}

 /**
    * @author    Christian Alamis
    * @copyright 2017 Commude
    * @since     2017-10-10
**/


#main__pageBtn {
	width: 130px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding: 12px 10px;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	transition: all .2s linear;
	border-radius: 30px;
	background: #3b5998;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 1;
	transition: all .2s linear;
}

#main__pageBtn:hover {
	opacity: .7;
}

/***********************
	NICOLE 11222017
************************/

.registration__steps {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.registration__steps li {
	float: left;
	margin-right: 50px;
	width: 175px;
	padding: 10px 0;
	background: #fff;
	border-top: 1px solid #D6D5D5;
	border-left: 1px solid #D6D5D5;
	border-bottom: 1px solid #D6D5D5;
	text-align: center;
	position: relative;
	z-index: 3;
}

.registration__steps li:last-child {
	border-right: 1px solid #D6D5D5;
}

.registration__steps li:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21.2px 0 21.2px 30.5px;
    border-color: transparent transparent transparent #D6D5D5;
    z-index: 1;
}

.registration__steps.complete li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: -0.5px;
    right: -29px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20.5px 0 20.4px 30.5px;
    border-color: transparent transparent transparent #fff;
    z-index: 2;
}

.registration__steps li.active {
	background: #56C1FF;
	border: 1px solid #56C1FF;
	color: #fff;
}

.registration__steps li.active:not(:last-child)::before {
	content: '';
	position: absolute;
	top: -1px;
	right: -31px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 21.2px 0 21.2px 30.5px;
	border-color: transparent transparent transparent #56c1ff;
}

.registration__content table {
  width: 100%;
  margin-top: 25px;
}

.registration__content table th {
	width:28%;
}

.registration__content table tr:first-child {
  border-top: 1px solid rgba(204, 204, 204, .5);
}

.registration__content table tr {
  border-bottom: 1px dashed rgba(204, 204, 204, .5);
}

.registration__content table tr:nth-last-of-type(-n+2) {
  border-bottom: 0;
}

.registration__content table tr:last-child td {
  padding: 0 0 10px;
}

.registration__content table tr td {
	padding: 20px 0;
}

.registration__content table tr:not(:nth-last-of-type(-n+2)) td:first-child {
	width: 250px;
}

.registration__content table tr.checkbox__row td {
  text-align: center;
  padding-bottom: 0;
}

.registration__content table tr.checkbox__row td span {
	/*display: block;*/
	text-align: left;
}

.postal__code {
	margin-bottom: 20px !important;
}

/* PLANS */

.panel__plan {
	margin-top: 20px;
    position: relative;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
    -moz-box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
    box-shadow: 0px 1px 5px 2px rgba(150, 150, 150, 0.1);
    background-color: #fff;
}

.panel__plan .plan-list {
	overflow: hidden;
}

.panel__plan .plan-list li.plan {
  float: left;
  width: 33.333333%;
  padding: 40px 20px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  transition: all .2s linear;
}

.panel__plan .plan-list li.plan h3.title {
    font-size: 1.8rem;
    margin: 0 0 10px;
}

.panel__plan .plan-list li.plan p.price {
    margin: 0 0 10px;
    font-family: 'Oswald', sans-serif;
    color: #3b79f2;
    font-weight: bold;
    font-size: 2.5rem;
}
.panel__plan .plan-list li.plan p.text {
	margin: 0 0 20px;
}

.panel__plan .plan-list li.plan a {
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    background-color: #3b79f2;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
    transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}

.plan__button input[type="radio"] {
	display: none;
}

.plan.active {
	background: #e5e5e5;
}

.plan.active .plan__button label {
  background-color: #fff;
  border: 1px solid #3b79f2;
  color: #3b79f2;
}

.plan.active .plan__button label:hover {
  cursor: not-allowed !important;
}

.plan__button label {
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
	padding: 10px 20px;
  border: 1px solid #3b79f2;
	background: #3b79f2;
	color: #fff;
}

.plan__button label:hover {
	background: #fff;
  color: #3b79f2;
}

.terms__textarea {
	display: block;
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

.submit__button td {
	text-align: center;
}

.submit__button td input {
	min-width: 150px;
}

.submit__button .btnBack {
	margin-right: 10px;
	background: #fff;
	color: #3b79f2;
	border: 1px solid #3b79f2;
}

.submit__button .btnBack:focus,
.submit__button .btnBack:hover {
	background: #3b79f2; 
	color: #fff;
}

.terms__checkbox {
  display: inline-block;
  margin: 20px auto 5px;
}

.sub__text {
	color: #f00;
	font-size: 12px;
}

/* custom checkbox */
/* Base for label styling */
.terms__checkbox input[type="checkbox"]:not(:checked),
.terms__checkbox input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.terms__checkbox input[type="checkbox"]:not(:checked) + label,
.terms__checkbox input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.terms__checkbox input[type="checkbox"]:not(:checked) + label:before,
.terms__checkbox input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .25em; left: .14em;
  font-size: 1.1em;
  line-height: 0.8;
  color: #56C1FF;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


/*  REGISTRATION COMPLETE */

.registration__complete {
	text-align: center;
}

.registration__complete h2 {
	text-align: center;
	line-height: 3;
	border-bottom: 1px solid #D6D5D5;
}

.registration__complete p {
	margin-top: 30px;
	text-align: center;
}

.registration__complete button {
	margin-top: 75px;
}


@media screen and (max-width: 767px) {

	main#register-view div.panel {
		width: 90%;
	}

	.registration__steps {
		width: 90%;
	}
	
	.registration__steps li:last-child {
		display: none;
	}

	.registration__steps.complete li:first-child {
		display: none;
	}

	.registration__content tr td {
		display: block;
	}
	
	.registration__content table tr:nth-of-type(8) td {
		width: 100% !important;
	}

	.panel__plan {
		max-width: 400px;
		margin: 20px auto 0;
	}

	.panel__plan .plan-list li.plan {
		width: 100%;
		margin: 0 auto;
		float: none;
		border-right: 0;
		border-bottom: 1px solid #e5e5e5;
	}

	.registration__complete h2 {
		font-size: 20px;
		line-height: 1.2;
		padding-bottom: 20px;
	}

	.registration__complete button {
		margin-top: 25px;
	}

	.panel .inner {
		padding: 15px;
	}

	
}

#businesspermitConfirmation {
   width: 800px;
}