
div.content-wrapper main.content-main {
  position: absolute;
  top: 80px;
  left: 250px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  overflow-y: auto;
}
div.content-wrapper main.content-main.side-open {
  left: 50px;
}
div.content-wrapper main.content-main header.pan-area {
  height: 50px;
  margin: 0 0 20px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main header.pan-area p.text {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 100px;
}
div.content-wrapper main.content-main div.content-inner .search-menu {
  margin: 0 0 10px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 5px;
}
div.content-wrapper main.content-main div.content-inner .search-menu ul.list li.item span.input-area {
  display: block;
}
div.content-wrapper main.content-main div.content-inner .local-nav {
  margin: 0 0 20px;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item {
  float: left;
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item:last-child {
  border-right: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span,
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item span {
  background-color: #3b79f2;
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner .local-nav ul.menu li.item a:hover {
  background-color: #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section {
  margin: 0 0 30px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header {
  margin: 0 0 20px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header h2.title {
  width: calc(100% - 300px);
  float: left;
  display: inline-block;
  padding: 0 0 0 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: normal;
  border-left: 3px solid #0038a8;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link {
  width: 200px;
  float: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: right;
  text-decoration: none;
  color: #666;
  background-image: url(../../images/common/icon/arrow-right.png);
  background-position: right center;
  background-size: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section > header.header a.link:hover {
  color: #0038a8;
  background-image: url(../../images/common/icon/arrow-right-active.png);
}
div.content-wrapper main.content-main div.content-inner > div.section .table {
  display: table;
  width: 100%;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0;
}
div.content-wrapper main.content-main div.content-inner > div.section .table p.caption {
  padding: 0 0 10px;
  font-size: 1.5rem;
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tr {
  display: table-row;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .td {
  display: table-cell;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead {
  display: table-header-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr .th {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666;
  font-weight: normal;
  text-align: center;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .thead .tr + .th {
  border-left: 1px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody {
  display: table-row-group;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr {
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.4rem;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn {
  display: inline-block;
  height: 24px;
  padding: 0 14px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3b79f2;
  color: #fff;
  background-color: #3b79f2;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  width: 100%;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn:hover {
  outline: 0;
  background-color: #fff;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey {
  background-color: #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.grey:hover {
  background-color: #1a1a1a;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red {
  background-color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.red:hover {
  background-color: #ac3125;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.pending {
  background-color: #993399;
  border-color: #993399;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.accepted {
  background-color: #53c68c;
  border-color: #53c68c;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.interview {
  background-color: #ffe680;
  border-color: #ffe680;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.favorite {
  background-color: #4d4dff;
  border-color: #4d4dff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.withdraw {
  background-color: #b300b3;
  border-color: #b300b3;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.under-review {
  background-color: #ffa64d;
  border-color: #ffa64d;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.not-accepted {
  background-color: #e60000;
  border-color: #e60000;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.job-offer {
  background-color: #009999;
  border-color: #009999;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.job-offer:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.not-accepted:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.under-review:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.pending:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.withdraw:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.favorite:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.interview:hover,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr .td a.btn.accepted:hover {
  color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .th,
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:last-child .td {
  border-bottom: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .table .tbody .tr:hover {
  background-color: #fcfcfc;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td {
  text-align: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td:nth-child(1) {
  width: 150px;
  padding: 15px;
}
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td input,
div.content-wrapper main.content-main div.content-inner > div.section .table.form .tbody .tr .td textarea {
  /*width: 100%;*/
  padding: 0 10px;
  line-height: 35px;
  width: 150px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab {
  padding: 10px;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu {
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li {
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  -webkit-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  -o-transitino: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
  transition: all 0.25s cubic-bezier(0.24, 0.8, 0.55, 0.94) 0s;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a.active {
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li a:hover {
  border-top: 2px solid #333;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-menu li:last-child a {
  border-right: 1px solid #e5e5e5;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box {
  display: none;
}
div.content-wrapper main.content-main div.content-inner > div.section .tab .tab-boxes .box:first-child {
  display: block;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child {
  width: 70%;
  text-align: left;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child span.rank {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area {
  display: table-cell;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area p.title {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 1.8rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dt {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #3b79f2;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr .td:first-child div.text-area dl.info dd {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section.ranking .table .tbody .tr:nth-child(1) .td:first-child span.rank {
  color: #d34031;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager {
  padding: 20px 0 10px;
  overflow: hidden;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager:last-child {
  padding: 10px 0 20px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result {
  display: inline-block;
  font-size: 1.2rem;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager p.result span {
  font-weight: bold;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li span,
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 6px 1em;
  border-radius: 4px;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
  text-decoration: none;
}
div.content-wrapper main.content-main div.content-inner > div.section div.pager div.nav ul li a:hover {
  background: #0038a8;
  color: #fff;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(110px);
}
div.content-wrapper aside#sidebar nav.global-nav ul.list li.item.scout a {
  color: #0038a8;
  background-image: url(../../images/common/icon/nav-scout-active.png);
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(1) {
  width: 30px;
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(1) .checkbox-wrapper .checkbox-parts {
  margin: 0;
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(2) {
  width: 200px;
  text-align: left;
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(3) {
  width: 200px;
  /*text-align: left;*/
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(4) span {
  display: inline-block;
  margin: 0 5px 5px;
  padding: 2px 5px;
  border: 1px solid #aaa;
  background-color: #e5e5e5;
  font-size: 1.3rem;
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(5) {
  width: 200px;
}
main#scout-view div.content-inner > div.section.scout-index .table .tbody .tr .td:nth-child(5) button {
  height: 35px;
  width: 181px;
  padding: 0 20px;
  font-size: 1.3rem;
}

/****************************************
  INBOX SENT - NICOLE11282017
****************************************/

.content-wrapper {
  width: auto !important;
}

.comment_list {
  width: 100% !important;
  min-width: 800px;
}

div.content-wrapper main.scoutchoose-view div.content-inner {
  max-width: 1000px !important;
}

main.scoutchoose-view .detail_contents .chat_area.layout_2clm:nth-child(n+2) {
  margin-top: 15px;
}

main.scoutchoose-view .detail_contents .chat_area.layout_2clm .text.right {
  text-align: left;
}

main.scoutchoose-view .detail_contents .chat_area.layout_2clm .text.left {
  text-align: right;
}

.global-nav .list {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.global-nav .list .item {
  border-bottom: none !important;
  background: none !important;
}

.detail_contents_new {
  position: relative;
  /*display: none;*/
}

.detail_contents_new .js_closebtn {
  position: absolute;
  top: 17px;
  right: 25px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: all .2s linear;
}

.detail_contents_new .js_closebtn:hover {
  opacity: .7;
}

.detail_contents_new .form_area th,.detail_contents_new .form_area td {
  padding: 10px;
}

.detail_contents_new .form_area th, .detail_contents_new .form_area td {
  display: block;
  border: none;
}

.detail_contents_new .newdetail_header .title_name {
  float: left;
  font-weight: bold;
  margin-top: 10px;
}

.detail_contents_new .newdetail_header .template_container {
  float: right;
}

.detail_contents_new .newdetail_header .template_container select {
  margin-left: 5px;
}

.detail_contents_new select {
  background: #fff !important;
}

.detail_contents_new table {
  background: #fff;
  border-radius: 5px;
}

.detail_contents_chat .status_box select {
  background: #fff;
}

.detail_contents_chat .status_box .label {
  width: 220px;
  padding: 10px 0 !important;
}

.scoutchoose-view .list_title_wrap .inner {
  position: relative;
}

.scoutchoose-view .list_title_wrap .inner .label,
.scoutchoose-view .list_title_wrap .inner .icon_mail {
  top: 3px;
}

.scoutchoose-view .comment_list .list_title_wrap .list_title {
  font-size: 14px;
  margin-top: 12px;
}

#btnComposeThread {
  background: #3b79f2 !important;
  color: #fff !important;
}

#btnComposeThread:hover {
  background: #105aea !important;
}

/***************************
  NEW MESSAGE
****************************/
.detail_contents_chat .chat_list.form_area {
  background: #fff;
}

.recieve_mail_area.form_area table {
  margin: 10px 0;
}

.recieve_mail_area.form_area table th,
.recieve_mail_area.form_area table td {
  border-bottom: 0;
  padding: 15px;
}

.recieve_mail_area.form_area table th:first-child {
  width: 200px;
}

.recieve_mail_area.form_area table select {
  width: 200px;
}

#allFavorite {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}

.select_box {
  width: 150px!important;
}